body {
  min-height: 100%;
  min-width: 100%;
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
}
.header1 {
  height: 232px;
  display: flex;
  padding: 30px;
  font: "Rounded Mplus 1c";
  font-size: 40px;
  position: relative;
  flex-wrap: wrap;
  vertical-align: baseline;
}
.header2 {
  position: relative;
  bottom: 0;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}
.searchbar {
  padding-top: 21.5px;
  padding-left: 211.2px;
  display: inline-block;
}
.logo {
  max-width: 287.11px;
  max-height: 51.54px;
  padding-left: 139.7px;
  padding-top: 21.5px;
  padding-bottom: 29px;
}
.buttons {
  padding-top: 21.5px;
  padding-left: 208px;
  display: inline-block;
  list-style: none;
  font-family: "Rounded Mplus 1c";
  font: "Rounded Mplus 1c";
  font-size: 14px;
}
.navbar {
  display: inline-block;
  flex: 1;
  min-width: auto;
  margin: 0;
  padding: 0%;
  overflow: hidden;
  font-family: "Rounded Mplus 1c";
  font: "Rounded Mplus 1c";
  font-size: 16px;
  list-style: none;
  list-style-type: none;
  padding: 20px 35px;
  justify-content: space-evenly;
  border-style: none;
  background-color: #F6F6F6;
  height: auto;
  bottom: 0;
}
.navbar ul {
  list-style: none;
  display: inline;
  padding: 0%;
  margin: 0%;
  justify-content: space-between;
}
.navbar li {
  list-style: none;
  display: inline;
  padding: 0%;
  margin: 0%;
}
.navbar li::after {
  content: "-";
}
.navbar li:last-child {
  content: "";
}
.bluebar {
  background-color: #1F2446;
  min-width: 100%;
  width: 100%;
  font-family: "Helvetica";
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: white;
  /* display: block;
    justify-content: space-evenly;
    margin:auto; */
}
.bluebar ul {
  /*   list-style: none;
        display: inline;
        padding:20%;
        margin:auto;
        justify-content: space-between;
     */
  list-style-type: none;
  text-align: center;
}
.bluebar li {
  padding: 20px;
  display: inline-block;
  text-align: center;
  margin: 20px;
  /*      list-style: none;
        display: inline;
        padding:0%;
        margin:auto;
     */
}
input {
  width: 300px;
  border-radius: 25px;
  height: 30px;
}
button {
  margin-top: 21.5px;
}
.contentdiv {
  margin: 0;
  padding: 0;
  height: 30px;
}
.footer {
  margin: 0px;
  width: auto;
  padding: 0px;
  background-color: #1F2446;
  height: 459px;
}
.fivecolumnscontainer {
  font-family: "Rounded Mplus 1c";
  display: flex;
  color: white;
  padding: 10px;
  margin: 30px;
  justify-content: center;
  align-content: space-between;
}
.fivecolumnscontainer div {
  padding: 10px;
  margin: 30px;
  justify-content: center;
  align-content: space-between;
}
.fivecolumnscontainer .awarediv {
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.fivecolumnscontainer .awarediv img {
  margin: 0%;
  padding: 0%;
  align-self: left;
  -webkit-filter: invert(100%);
  /* safari 6.0 - 9.0 */
  filter: invert(100%);
  height: 25%;
  width: 50%;
}
.fivecolumnscontainer .iconsdiv {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.fivecolumnscontainer .iconsdiv img {
  margin: 0;
  padding: 0;
}
.fivecolumnscontainer .iconsdiv div {
  display: inline-block;
  border: solid;
  border-color: #7A7C86;
  border-width: thin;
  margin: 0;
  padding: 5px;
}
.vatfooter {
  font-family: "Rounded Mplus 1c";
  color: white;
  font-size: 12px;
  margin: auto;
  padding: 0px;
  width: 70%;
  border-top: solid;
  border-color: #7A7C86;
  padding-top: 20px;
}
.vatfooter .left {
  display: inline-block;
  margin: 0;
  padding: 0;
  left: 0;
}
.vatfooter .right {
  display: flex;
  margin: 0;
  padding: 0;
  float: right;
}
.vatfooter .right div {
  margin: 0;
  padding: 0;
}
.vatfooter .right img {
  margin: 0;
  padding: 0;
  height: auto;
  width: 75%;
}
